.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.a{
    color: black;
    background-color: black;
    text-decoration-color: black;
}

.btn, .btn-block, .btn-primary{
    background-color : black;
}

.err {
    color : firebrick;
}